<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>Certeza que deseja apagar {{ cliente.nome }}??</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Apagar</button>
    </form>
    <a href="{% url 'clienteList' %}">Voltar</a>
</body>
</html>